.btn {
  text-transform: capitalize;
    padding: 0.5em 0.7em;
    border: none;
    border-radius: 0.2em;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    line-height: 1em;
    background-color: #ea1e63;
    cursor: pointer;
    user-select: none; /*neleidzia pazymeti teksto*/
    text-align: center;

}
.btn:hover {
  box-shadow: 0 8px 10px rgba(255, 17, 17, 0.456);
  background-color: rgb(255, 226, 226);
  color: #fb105e;
  transition: all 0.4s;
}

.btn.btn-circle {
    height: 2em;
    width: 2em;
    padding: 0;
    border-radius: 50%;
    line-height: 2em;
}


.subscribe > .btn {
  margin-top: 15px;
}
/*NORINT PAKEISTI KELIAS SAVYBES  TAM TIKRU MYGTUKU PVZ:
.btn.btn-green {
  background-color: greenyellow;
}*/