.mouse {
    width: 8em;
    height: 13em;
    font-size: 4px;
    border: 1em solid rgb(255, 255, 255);
    border-radius: 4em;
    position: relative;
}

.mouse::before {
    content: '';
    display: block;
    width: 1em;
    height: 1.6em;
    position: absolute;
    top: 2.5em;
    left: 50%;
    transform:translateX(-50%);
    background-color: rgb(255, 255, 255);
    border-radius: 0.5em;
    animation-name: scroll; /*irasoma name=to @keyframes ka noresima daryti, siuo atveju scroll*/
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes scroll { /*scroll=tai elemento veiksmo atspindys, tai ka jis tures daryti*/
    0% { /* kai prasides laikas kazka daryti*/
        top: 2.5em;
        background-color: rgb(255, 255, 255);
    }  

    50% { /*viduryje veiksmo tolygiai pereiti spalvoje*/
        background-color: rgba(255, 255, 255, 0.467);
    }

    100%{ /*kai baigsis laikas*/
        top: 7.5em;
        background-color: transparent;

    } 
}