/*base*/
@import '../base/base.css';
@import '../base/layout.css';

/*3rd-party*/
@import '../3rd-party/font-awesome.min.css';
/*components*/
@import '../components/clock.css';
@import '../components/mouse.css';
@import '../components/progress-bar.css';
@import '../components/button.css';
@import '../components/form.css';
/*CUSTOM STYLE BELOW THIS COMMENT LINE*/

/* hero */

.hero {
    /*max-height -- nevisada tinkamas, nes su juo nurodome max viewport*/
    min-height: 100vh;/*bus matoma tik tiek kiek matomas ekranas iki scroll padeties pakeitimo | aukstis nebendrauja su %, todel naudojama [vh=viewport height] skaiciuoti narsykles plocio ir aukscio atzvilgio procentaliai, matmenys bus nuo 0 iki 100*/
    padding-bottom: 30px;
    background-image: url(../../img/background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed; /* atskiria fona nuo turinio, nuotrauka fiksuota o turinis vaiksto*/
}

.hero > .short-row {
    display: flex; /*flex'inant visi elementai yra dedami i viena eile */
    flex-direction: column; /*nustato flex eiles krypri [kartais pakeicia float]*/
    gap: 30px; /* suteikia visiems tevo vaikams vienosu tarpus*/
    text-align: center;
    align-content: center;
    align-items: center;
}

.logo {
    width: 100%;
    height: 40px;
    object-fit: contain; /* img bus centre */
    object-position: center; /*tai yra default reiksme*/
}

/* main */
.main-title {
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: -4px;
    word-spacing: 10px;
}

.main-description {
    font-size: 18px;
}


/* footer */

footer.container {
    padding-top: 0px;
}

footer > .row {
    position: relative;
}

.socials {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #fff;
}

.socials > a {
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
    transition: all 0.4s;
}

.socials > a:hover {
    padding: 10px;
    background-color: #fff;
    color: #03a9f3;
    text-decoration: none;
    
}

.back-to-top {
position: absolute;
top: -1.1em;
right: -0.6em;

}